monolog:
    handlers:
        main:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
            channels: ["!event"]

        custom_email:
            type: service
            id: App\Monolog\Handler\ErrorEmailHandler
