# OSX
#
.DS_Store    
.thumbs.db

# Xcode
#
build/
*.pbxuser
!default.pbxuser  
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3 
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local


/helm/api/charts
*.lock
error_log
*error_log
.bowerrc
composer.lock
symfony.lock
yarn.lock

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/vendor/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

/docker-compose.override.yaml
/docker-compose.override.yml

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/.composer
composer.phar
/.subversion
.bash*
public_html
module
#/public/.htaccess

.cagefs
.cl.selector
.cloud-locale-test.skip
.contactemail
.cpanel
.cphorde
.lastlogin
.spamassassin
.spamassassinboxenable
.spamassassinenable
/etc/
/mail/
/ssl/
/www
/public_html/
/public/app
/public/images
.idea
.vscode/
/data/

node_modules/**/*
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
.DS_Store

/modules/controeonline/*
###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
