MAILTO=""
SHELL="/bin/bash"
* * * * * sh ~/sistemas/api/scripts/cron/controleonline.sh
30	            10,14,18,22,02,06	*	    *	*	cd ~/sistemas/api ; /usr/local/bin/php bin/console app:order-notifier verify_payment_invoice 1000
*	            *	                *	    *	6	cd ~/sistemas/api ; /usr/local/bin/php bin/console app:order-notifier close_weekly_billing_invoice 1000
*	            *	                1,15	*	*	cd ~/sistemas/api ; /usr/local/bin/php bin/console app:order-notifier close_biweekly_billing_invoice 1000
*	            *	                1	    *	*	cd ~/sistemas/api ; /usr/local/bin/php bin/console app:order-notifier close_monthly_billing_invoice 1000
0	            12	                *	    *	2,4	cd ~/sistemas/api ; /usr/local/bin/php bin/console app:order-notifier outdated_invoice 1000
0               10,14,18,22,02,06	*	    *	*	cd ~/sistemas/api ; /usr/local/bin/php bin/console app:order-tracking 1000
0,30	        *	                *	    *	*   cd ~/sistemas/api ; /usr/local/bin/php bin/console app:fix order-owner 1000
*	            *	                *	    *	*   cd ~/sistemas/api ; /usr/local/bin/php bin/console app:order-notifier task_from_active_contracts
*   	        *	                *	    *	*   cd ~/sistemas/api ; /usr/local/bin/php bin/console app:import table 1
*   	        *	                *	    *	*   cd ~/sistemas/api ; /usr/local/bin/php bin/console app:import leads 1
0,30   	        *	                *	    *	*   cd ~/sistemas/api ; /usr/local/bin/php bin/console app:import MAIL 10

2               0                   *       *   *   cd ~/sistemas/api/; /usr/local/bin/php bin/console app:apostilas opcao all; /usr/local/bin/php bin/console app:apostilas sitemap; /usr/local/bin/php bin/console app:apostilas publicar force;

# Estes falta criar
#Lista com os números de ocorrências: https://ssw.inf.br/ajuda/webapiOcorParceiro.html
#*/10            *	                *	    *	*	cd ~/sistemas/api ; /usr/local/bin/php bin/console app:order-notifier read_api_invoice_tax 100 #https://ssw.inf.br/ws/sswCotacaoColeta/help.html
#*/10            *	                *	    *	*	cd ~/sistemas/api ; /usr/local/bin/php bin/console app:order-notifier read_api_delivered 100   #https://ssw.inf.br/ajuda/trackingdanfe.html