<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP:Upgrade} =websocket [NC]
    RewriteCond %{HTTP:Connection} =Upgrade [NC]
    RewriteRule ^(.*)$ ws://localhost:8080/$1 [P,L,QSA]
    ProxyPassReverse / ws://localhost:8080/
</IfModule>
