{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Você solicitou a recuperação de sua senha?
<br>
<a href="https://cotafacil.freteclick.com.br/forgot-password/{{ hash }}/{{ lost_password }}">
    Clique aqui para iniciar o processo de recuperação de senha
</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}